<div *ngIf="items.length" class="flex flex-grow gap-6 justify-center items-start py-10">
  <div id="order-items" class="w-72">
    <ng-container *ngFor="let item of items">
      <app-item-order (deleteItem)="onItemDeleted()" [item]="item"></app-item-order>
    </ng-container>
  </div>
  <div id="checkout-form" class="w-72"></div>
</div>
<div class="py-10 w-full flex flex-col items-center justify-start" *ngIf="!items.length">
  <h1 class="text-2xl text-center p-5"> there is no items in your cart to
    checkout!</h1>
  <button routerLink="/" class="button-primary mb-5">back to product list</button>
</div>
